* { 
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }	

 .container{
    margin-left:50px;
 }

 .star-vote{
    list-style: none;
    margin:10px 0;

    position: relative;
    width: 112px;
     
 }

 .fa-star{
    font-size: 16px;
    margin:0px;
 }
 .star-vote li{
    display: inline-block;
 }

.star-vote-intro{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.star-vote-intro li{
    color:orange;
}

.img-results-container{
    display: flex;
}

.img-results{
    width: 30px;
    margin-left: 20px;
}

.film{
    width: 80%;
    border:3px solid #000;
    margin: 20px 0;
    height: 300px;
    background-color: lightblue;
}

.img-poster img{
    height: 294px;
    width: 200px;
}
.img-poster{
    margin-right:20px;
}

.film{
    display: flex;
    align-items: flex-start
}

.block-result{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.vote-result{
    /* justify-content: flex-end; */
    justify-self: flex-end;
}